{% extends 'teamleaders/home.html' %}
{% load static %}
{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card shadow border">
                    <div class="card-body">
                        <h3>ADD TASK</h3>
                        <form method="POST">
                            {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Task</label>
                            <input type="text" required name='taskname' class="form-control" id="task" placeholder="name">
                            <span id="task_error"></span>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" required name='members' aria-label="Default select example">
                                <option selected disabled>Select Member</option>
                                {% for emp in employes %}
                                <option value="{{emp.employe.id}}">{{emp.employe.employe_name}}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Epected Date</label>
                            <input type="date" required name='date' class="form-control" id="exampleFormControlInput1" placeholder="name">
                        </div>
                        <p style="color: green;">{{msg}}</p>
                        <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    {% endblock %}